* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #fac898;
  padding-bottom: 100px;
}

.hidden {
  display: none !important;
}

html {
  overscroll-behavior: none;
  margin-top: 80px;
}

/* Start header CSS */

header {
  display: flex;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #41444b;
  color: whitesmoke;
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  margin-right: 300px;
}

nav ul li {
  list-style: none;
  padding: 20px;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
}

nav ul li:active {
  color: whitesmoke;
}

nav ul li:hover {
  color: #41444b;
  background-color: #fac898;
}

nav ul li:hover a {
  color: #41444b;
  background-color: #fac898;
}

nav button {
  height: 40px;
  padding: 10px;
}

nav img {
  margin-left: 10px;
  margin-right: 10px;
}

header #logo {
  height: 50px;
  margin-left: 5px;
}

#logged-in-profile-pic {
  width: 60px;
  background-color: lightgrey;
}

/* End header CSS */

/* Start footer CSS */

footer {
  display: flex;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #41444b;
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  height: 50px;
}

footer img {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
/* End footer CSS */

/* Start log in CSS */
#log-in-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-pages {
  color: blue;
}

.toggle-pages:hover {
  color: whitesmoke;
  cursor: pointer;
}

/* End log in CSS */

/* Start register CSS */

#register-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-images-div img {
  width: 100px;
  background-color: lightgrey;
}

.circle {
  border-radius: 50%;
  border: grey solid 3px;
}

.user-choice {
  border: green solid 3px;
  box-shadow: black 0px 0px 10px 0px;
}

/* End register CSS */

/* Start homepage CSS */

#welcome-div {
  margin-left: auto;
  margin-right: auto;
  border: solid 2px black;
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
/* End homepage CSS */

#profile-page-profile-picture {
  width: 150px;
  background-color: lightgrey;
}
