* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
button{
  cursor: pointer;
}

body {
  background-color: #fac898;
  padding-bottom: 100px;
}

.hidden {
  display: none !important;
}

html {
  overscroll-behavior: none;
  margin-top: 80px;
}

/* Start header CSS */

header {
  display: flex;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #41444b;
  color: whitesmoke;
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  margin-right: 300px;
}

nav ul li {
  list-style: none;
  padding: 20px;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
}

nav ul li:active {
  color: whitesmoke;
}

nav ul li:hover {
  color: #41444b;
  background-color: #fac898;
  cursor: pointer;
}

nav ul li:hover a {
  color: #41444b;
  background-color: #fac898;
  
}

nav button {
  height: 40px;
  padding: 10px;
}

nav img {
  margin-left: 10px;
  margin-right: 10px;
}

header #logo {
  height: 50px;
  margin-left: 5px;
  cursor: pointer;
}

#log-out-button {
  background-image: linear-gradient(rgb(253, 65, 65), #fac898);
  border: black 2px solid;
  border-radius: 5px;
  font-size: 14px;
}

#logged-in-profile-pic {
  width: 60px;
  background-color: lightgrey;
  cursor: pointer;
}

#logged-in-username {
  padding-right: 20px;
  font-size: 20px;
}

/* End header CSS */

/* Start footer CSS */

footer {
  display: flex;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #41444b;
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  height: 50px;
}

footer img {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
/* End footer CSS */

/* Start log in CSS */
#log-in-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-pages {
  color: blue;
}

.toggle-pages:hover {
  color: whitesmoke;
  cursor: pointer;
}

.front-pages-button {
  border-radius: 50px;
  padding: 10px;
  border: 2px solid grey;
  margin: 5px;
}

/* End log in CSS */

/* Start register CSS */

#register-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-images-div img {
  width: 100px;
  background-color: lightgrey;
}

.circle {
  border-radius: 50%;
  border: grey solid 3px;
}

.user-choice {
  border: green solid 3px;
  box-shadow: black 0px 0px 10px 0px;
}

/* End register CSS */

/* Start maincontainer CSS */
#main-container {
  display: flex;
  justify-content: space-around;
}

/* End maincontainer CSS */

/* Start homepage CSS */

#welcome-div {
  border: solid 2px black;
  background-color: whitesmoke;
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* End homepage CSS */

/* Start profilepage CSS */

#profile-page {
  margin-left: 125px;
  margin-top: 38px;
}

#profile-page-profile-picture {
  width: 150px;
  background-color: lightgrey;
}

#delete-button {
  color: white;
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  width: 110px;
}

/* End profilepage CSS */

/* Start aside CSS */

aside {
  margin-right: 25px;
  margin-top: 38px;
  background-color: whitesmoke;
  border: solid 2px black;
  border-radius: 10px;
  width: 10%;
  height: fit-content;
  box-shadow: rgb(200, 144, 98) 0px 10px 20px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.users {
  cursor: pointer;
  width: fit-content;
  padding: 10px;
}

.users:hover{
  border-bottom: solid #41444b 1px ;
}

/* End aside CSS */

/* Start Forums CSS */

.forum-container {
  background-color: whitesmoke;
  border: solid 2px black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  width: 950px;
  
}

/* End Forums CSS */

/* Start delete comment Css */

.deleteTrashCanButtonForComments{
  width: 20px;
  margin-left: 97%;
  cursor: pointer;
}


/* End delete comment Css */


/* Start user comments placeholder Css */
#user-comments{
  padding: 10px;
  margin-top: 10px;
  width: 950px;
}


/* End user comments placeholder Css */

/* Start error */

.centerText {
  text-align: center;
}

/* End error */

